* {
    box-sizing: border-box;
}
body {
    font-family: cursive ;
}
.menu {
    text-align: center;
    width: 100%;
    font-size: 175%;
    margin-bottom: 7px;
}
.title-one {
    padding: 5px;
    background-color: maroon;
    width: 90px;
    text-align: center;
    border: 2px solid black;
    top: -6px;
    right: -17px;
    font-size: 125%;
    color: white;
    position: relative;
    margin-left: auto;
    margin-bottom: 0px;
}
.title-two {
    padding: 5px;
    background-color: rgb(0, 155, 155);
    width: 90px;
    text-align: center;
    border: 2px solid black;
    top: -6px;
    right: -17px;
    font-size: 125%;
    color: white;
    position: relative;
    margin-left: auto;
}
.title-three {
    padding: 5px;
    background-color: rgb(106, 151, 0);
    width: 90px;
    text-align: center;
    border: 2px solid black;
    top: -6px;
    right: -17px;
    font-size: 125%;
    color: white;
    position: relative;
    margin-left: auto;
}
@media (min-width: 992px) {
    .col-d-4 {
        float: left;
        background-color: gray;
        border: 3px solid black;
        color: white;
        width: 31.33%;
        padding: 3px 14px;
        margin: 1%;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .z {
        float: left;
        background-color: gray;
        border: 3px solid black;
        color: white;
        width: 48%;
        padding: 3px 14px;
        margin: 1%;
    }
    .x {
        float: left;
        background-color: gray;
        border: 3px solid black;
        color: white;
        width: 98%;
        padding: 3px 14px;
        margin: 1%;
    }
}
@media  (max-width: 767px) {
    .col-d-4 {
        float: left;
        background-color: gray;
        border: 3px solid black;
        color: white;
        width: 100%;
        padding: 3px 14px;
        margin-bottom: 10px;
    }
}
